 *{
   box-sizing: border-box;
   padding: 0px;
   margin: 0px; 
   }
   body{
  background-color: rgba(106, 162, 184, 0.493);
  color: ffffff;
 }
 ul{
     list-style: none;
 }
 a{
    text-decoration: none;
     font-size: 25px;
     color:white;
    
 }
 a:hover{
    border-bottom: solid 2px blue;
    opacity: .6;
 }
  div .content{
  display:flex;
 }
 /*navegacion*/
  .navegacion {
     display: flex;
     height: 45px;
     width: 100%;
     padding-top: 8px;
     padding-left: 20px;
     background: rgba(10, 145, 199, 0.466);
     margin-bottom: 0px;
     border-bottom: solid 3px rgba(114, 101, 228, 0.199);
    } 
.navegacion ul li{
    float: left;
    justify-content: space-evenly;
    text-decoration: none;
    margin-left: 20px;
 }
 div .nav-1{
     display:  flex;
     float: left;
     padding: 0px;
    }
 .icon{
     height: 30px;
     width: 30px;
     margin: 0px;
    }
 .nav-2{
     display: flex;
     float: left;
     margin-left: 220px;
    }
    .nav-2 a{
        margin-left: 35px;
    }

 /*banners*/
 .banner{
     width: 88%;
     height: 250px;
     margin-top: 0px;
     padding: 0px;
     margin-left: 10px;
 }
 /*section*/
div .section{
    display:flex;
    justify-content: space-between;
     margin-top: 1px;
    }
div .section .maletin{
    float: left;
    margin-top: 60px;
    margin-left: 100px;
    margin-right: 100px;
}
div .section .celu{
    float:left;
    margin-top: 30px;
    margin-left: 270px;
    margin-right: 260px;
}
div .section .caja-te{
  float: left;
  margin-top: 60px;
  margin-left: 110px;
}
.celu:hover{
    border-bottom: solid 2px white; 
    opacity: .6;
}




       

       
    


    
       
       
        
         
         
           
     
            
        

       

        

        
    